<h3 class="d-inline">댓글 목록</h3>
  {% if comments %}
  <div>{{ comments|length }}개의 댓글이 있습니다.</div>
  {% else %}
  <div>댓글이 없습니다.</div>
  {% endif %}
  <ul>
  {% for comment in comments %}
  <li class="my-1">
    <p class="d-inline">{{ comment.user }} - {{ comment.content }}</p>
    {% if comment.user == user %}
      <form action="{% url 'crud:comment_delete' article.pk comment.pk %}" class="d-inline" method="POST">
        {% csrf_token %}
        <button class="btn btn-danger btn-sm">X</button>
      </form>
    {% endif %}

    <form id="comment-like-form" data-article-pk="{{ article.pk }}" data-comment-pk="{{ comment.pk }}" class="d-inline">
    {% csrf_token %}
      {% if user in comment.like_users.all %}
        <button id="comment-like-{{ comment.pk }}" class="btn fas fa-thumbs-up"></button>
      {% else %}
        <button id="comment-like-{{ comment.pk }}" class="btn far fa-thumbs-up"></button>
      {% endif %}
    </form>
    <span id="comment-likecount-{{ comment.pk }}">{{ comment.like_users.count }}</span>

    <form id="comment-dislike-form"  data-article-num="{{ article.pk }}" data-comment-num="{{ comment.pk }}" class="d-inline">
    {% csrf_token %}
      {% if user in comment.dislike_users.all %}
        <button id="comment-dislike-{{ comment.pk }}"class="btn fas fa-thumbs-down"></button>
      {% else %}
        <button id="comment-dislike-{{ comment.pk }}"class="btn far fa-thumbs-down"></button>
      {% endif %}
    </form>
    <span id="comment-dislikecount-{{ comment.pk }}">{{ comment.dislike_users.count }}</span>
    <br>
  </li>
  {% endfor %}
  </ul>
<hr>